<form action="" class="mx-5 my-5" method="post">
    <input type="text" name="username" id="" placeholder="username" value="admin" readonly><br>
    <input type="password" name="password" id="" placeholder="password" value="admin" readonly> <br><br>
    <input type="submit" name="" value="login" class="btn btn-primary my-2" id="">
</form>