{{>userheader}}
<form method="post" class="mx-5 my-5">
  <div class="form-group">
    <label for="exampleFormControlInput1">Full Name</label>
    <input type="text" name="name" class="form-control" id="exampleFormControlInput1" placeholder="Ayush Panday">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Place</label>
    <select id="" name="place" required class="form-control" id="exampleFormControlSelect1">
        <option value="">Select your palace</option>
        <option value="Everest Base Camp Trek">Everest Base Camp Trek</option>
        <option value="Annapurna Circuit Trek">Annapurna Circuit Trek</option>
        <option value="Chisapani Nagarkot Trek">Chisapani Nagarkot Trek</option>
        <option value="Ghandruk Trek">Ghandruk Trek</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Date</label>
    <input type="date" name="date" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Payment Mode</label>
    <input type="radio"  name="payment" value="cash" id="" default>Cash
    <input type="radio"  name="payment" value="online" id="" disabled>Online
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Phone Number</label>
    <input type="tel" name="phone" class="form-control" id="exampleFormControlInput1" placeholder="XXXXXXXXXX">
  </div>
  <input type="submit" name="" id="" class="btn-success" value="book">
  
  
</form>