{{>userheader}}
<div>
<div class="d-flex flex-row mb-3 my-3 mx-5">
<div class="btn-group" role="group" aria-label="Basic example"></div>
<div class="card mx-3" style="width: 18rem;">
  <img src="./statics/everest-base-camp-trek.jpg" class="card-img-top " alt="...">
  <div class="card-body">
    <h5 class="card-title">Everest Base Camp Trek</h5>
    <p class="card-text">The Everest Base Camp Trek is one of Nepal’s most beautiful trekked routes. Many tourists visit Nepal to walk in the Sagarmatha region to enjoy the enticing mountain views. </p>
    <h1 class="btn btn-success ">25,000 NPR</h1><br>
    <h1 class="btn btn-secondary ">Trek Duration:	14 days</h1><br>
    <a href="/booknow" class="btn btn-primary">Book Now</a>
  </div>
</div>
<div class="card mx-3" style="width: 18rem;">
  <img src="./statics/Annapurna-Circuit-Trek.jpg" class="card-img-top " alt="...">
  <div class="card-body">
    <h5 class="card-title">Annapurna Circuit Trek</h5>
    <p class="card-text">Annapurna Circuit Trek is a delightful trek in the foothills of the entire Annapurna range. The trek leads you from the lush pastures to the Alpine forests. </p>
    <h1 class="btn btn-success ">20,000 NPR</h1><br>
    <h1 class="btn btn-secondary ">Trek Duration:	15 days</h1><br>

    <a href="/booknow" class="btn btn-primary">Book Now</a>
  </div>
</div><div class="card mx-3" style="width: 18rem;">
  <img src="./statics/kathmandu-chisapani-hike.jpg" class="card-img-top " alt="...">
  <div class="card-body">
    <h5 class="card-title">Chisapani Nagarkot Trek</h5>
    <p class="card-text">Chisapani- Nagarkot hike is one of the popular treks around the valley. En route, you walk through the evergreen hardwood forests. Also, the humid surrounding keeps you energetic along the walk.</p>
    <h1 class="btn btn-success ">10,000 NPR</h1><br>
    <h1 class="btn btn-secondary ">Trek Duration:	3 days</h1><br>
    <a href="/booknow" class="btn btn-primary">Book Now</a>
  </div>
</div><div class="card mx-3" style="width: 18rem;">
  <img src="./statics/Ghandruk-Trek.jpg" class="card-img-top " alt="...">
  <div class="card-body">
    <h5 class="card-title">Ghandruk Trek</h5>
    <p class="card-text">The Ghandruk village trek takes you to the typical village of hillside Gurungs. It is a popular and easy gateway to Annapurna Base Camp Trek. On walking, you explore local tourism-related activities. </p>
    <h1 class="btn btn-success ">12,000 NPR</h1><br>
    <h1 class="btn btn-secondary ">Trek Duration:	5 days</h1><br>
    <a href="/booknow" class="btn btn-primary">Book Now</a>
  </div>
</div>
</div>
</div>

{{>footer}}
